.header {
    background-color: #be332d !important;
    z-index: 97;
}
.header-fixed[data-header-scroll=on] .header-menu .menu-nav > .menu-item > .menu-link .menu-text{
    color: white;
}

.header-fixed[data-header-scroll=on] .header .logo-default{
    display: block;
}

.header-menu .menu-nav > .menu-item.menu-item-here > .menu-link {
    background-color: white !important;
}
.header-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-text {
    color: #be332d  !important;
    font-weight: 600;
}

.footer {
    background-color: #be332d !important;
}

.footer .link {
    color: white;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
}

.footer .link:hover {
    color: #ffe5dc;
}
.link-div {
    margin-top: 22px;
    margin-left: 35px;
}

.footer .title {
    color: white;
    font-weight: 600;
}
.toko-online {
    display: flex;
    justify-content: start;
    align-items: center;
}
.toko-online .btn {
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 13px;
    margin-right: 15px;
}
.toko-online .btn img {
    width: 20px;
    height: 20px;
    object-fit: fill;
}
.toko-online .btn.tokped {
    background-color: #4f9d4d;
}
.toko-online .btn.blibli {
    background-color: #0094d9;
}

.toko-online .btn.shopee {
    background-color: #fb5731;
}
.logo-footer {
    max-height: 150px;
}

/* HOME */
.banner-hero .swiper{
    z-index: 0;
}
.banner-hero .swiper-slide {
    width: 100%;
    height: 100%;
}
.banner-hero .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subheader-enabled:not(.subheader-fixed) .content {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #fff9f9;
}
.container-fluid.banner {
    padding: 0px !important;
}

.card-alasan.red {
    border-radius: 25px;
    background-color: #ffe5dc;
    border: 1px solid #be332d;
}
.card-alasan.red .title-alasan {
    color: #be332d;
    font-weight: 600;
}
.card-alasan.red .detail-alasan {
    color: black;
    font-weight: 400;
    text-align: justify;
}
.title-part {
    font-weight: 600;
    text-align: center;
}
.title-part.red {
    color: #be332d;
}

.detail-data {
    text-align: justify;
}
.divider {
    height: 60px;
}

.link-string {
    color: red;
}
.card.membeli {
    border: 1px solid #be332d;
}

.img-comment {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.date-comment {
    margin-left: 10px;
    color: #00000080;
}

.comment-box {
    display: flex;
    width: 80%;
}
.comment-box .title-part {
    color: #be332d;
}

.img-about {
    width: 250px;
    object-fit: contain;
}
.btn__primary {
    background-color: #be332d;
    color: white;
}

.card.alamat {
    border-radius: 20px !important;
}

.card.alamat .card-body {
    border-radius: 20px !important;
}

h4.data {
    background-color: #be332d;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
}
.icon-data {
    margin-right: 10px;
    margin-left: 10px;
}
.icon-data img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.card-reach .form-control {
    margin-bottom: 20px;
}

.card-product {
    width: 150px !important;
    border-radius: 12px;
    margin-right: 15px;
}
.card-product .card {
    border-radius: 12px;
}
.card-product .card-body {
    padding: 0 !important;
    border-radius: 12px;
}

.card-product .img-product {
    width: 100%;
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}
.card-product .title-product {
    font-weight: 600;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-product .harga {
    font-weight: 400;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kategori-title {
    color: black;
    font-weight: 600;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
div.scrollmenu .card-product {
    display: inline-block;
}
.checkbox-product {
    margin-right: 10px;
    margin-top: 2px;
}
.label-checkbox{
    font-size: 13px;
    color: black;
}
.card-promo.card{
    border-radius: 15px;
    border: 1px solid #be332d80;
}

.card-promo.card .card-body{
    border-radius: 15px;
}
.img-modal{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.comment-name{
    display: flex;
    align-items: center;
}
.swiper-button-next, .swiper-button-prev {

    color: #be332d !important;
}
.swiper-pagination-bullet-active{
    background: #be332d !important;

}
.copyright-box{
    display: flex;
    justify-content: center;
}
/* Mobile Screen */
.header-mobile {
    background-color: #be332d;
    z-index: 1;
}
.header-menu-wrapper{
    z-index: 15;
   
}
@media screen  and (max-width: 992px) {
    .header-menu-wrapper.header-menu-wrapper-on{
        margin-top: 55px;
    }
    .header-menu-wrapper{
        width: 220px;
    }
    .header-menu-wrapper-overlay{
        z-index: 0;
    }
    
}

@media screen and (max-width: 450px) {
    .comment-name{
        display: block;
        margin-bottom: 10px;
    }
    .date-comment{
        margin-left: 0px;
    }
    .comment-box {
        width: 95%;
    }
    .img-comment{
        width: 42px;
        height: 42px;
    }
    .copyright-box{
        justify-content: space-between;
        margin-bottom: 20px;
    }
}